.section.admin-dashboard {
  padding: 20px;
}

.order-details {
  margin-top: 20px;
}

.product-row {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px;
  max-width: calc(33% - 20px);
  box-sizing: border-box;
}

.product-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

h3 {
  margin: 10px 0;
}

.status-controls {
  margin-top: 20px;
}

.status-controls button {
  margin-right: 10px;
}
